body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

button {
  padding: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  background-color: black;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

h3, h4 {
  margin-bottom: 0;
}

nav {
  border-bottom: 4px solid black;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

nav img {
  max-width: 300px;
  max-height: 90px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav li {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 24px 32px;
}

nav a:hover {
  background: black;
  color: white;
}

#page-body {
  max-width: 1100px;
  margin: auto;
  padding-top: 100px;
  padding: 100px 25px 25px 25px;
}

/* * * * * * * * * * /
/* Races List Table */
table.races-list-table {
  width: 100%;
  text-align: left;
}

.race-list-wrapper img {
  max-width: 100px;
  vertical-align: bottom;
}

table.races-list-table tr {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  position: relative;
}

table.races-list-table tr span {
  position: absolute;
  top:50%;
  
}

table.races-list-table tr td a {
  text-decoration: none;
  color: #000;
}

table.races-list-table tr td a:hover {
  text-decoration: underline;
}

/*End Races Table */

.d-flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}

.placement::after {
  content:' - ';
}

input, textarea {
  display: block;
  width: 300px;
  padding: 8px;
  border-radius: 8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  border: 2px solid black;
  margin-bottom: 16px;
}

.error {
  padding: 8px;
  border-radius: 4px;
  background-color: pink;
}

.nav-right {
  position: absolute;
  top: 8px;
  right: 8px;
}